/*
 * @Description: index.css
 * @Author: Kohaku 
 * @Date: 2018-11-15 21:31:45 
 * @Last Modified by: Kohaku.zxy
 * @Last Modified time: 2018-11-16 00:34:27
 */

/******************* 通用头部 start *********************/
.site-header {
    position: relative;
    height: 64px;
    color: #737373;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.site-header .container {
    box-sizing: border-box;
    padding: 0 8px;
}

.site-header .left {
    float: left;
}

.site-header .logo {
    float: left;
    width: 138px;
    height: 64px;
}

.site-header .header-nav {
    float: left;
    height: 64px;
    margin-left: 36px;
}

.header-nav>li {
    float: left;
    width: auto;
    height: 64px;
}

.header-nav>li>a {
    display: block;
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    text-align: center;
    color: #737373;
}

.site-header .right {
    float: right;
}

.site-header .btn-shop {
    float: left;
    width: 144px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    background-color: #f2d200;
}

.site-header .lan-selector {
    float: left;
    width: 120px;
    height: 64px;
    line-height: 64px;
}

.site-header .lan-flag {
    margin: 0 12px;
    vertical-align: middle;
}

.site-header .lan-text {
    font-size: 12px;
    color: #2d2d2d;
}
/******************* 通用头部 end *********************/

/******************* 主体部分 start *********************/
.site-main {
    width: 100%;
    min-width: 1240px;
    padding-top: 37px;
    margin-bottom: 60px;
}

.site-main .block {
    position: relative;
    height: 100%;
}

.sec-intro {
    position: relative;
    width: 1080px;
    height: 608px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 4px;
    background-color: pink;
}

.sec-intro .bg-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.sec-intro .left-part {
    position: absolute;
    width: 340px;
    height: 190px;
    z-index: 10;
    left: 80px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-group-1 {
    margin-top: 24px;
}

.btn-group-1 a {
    display: block;
    float: left;
    line-height: 40px;
    height: 40px;
}

.btn-group-1 .btn {
    border-radius: 20px;
    padding: 0 18px;
    margin-right:24px;
    background-color: #fbe500;
}

.btn-group-1 .link {
    position: relative;
    color: #fff;
    font-size: 12px;
    margin-left: 24px;
    border-bottom: 2px solid #fff;
}

.btn-group-1 .link-video {
    padding-right: 16px;
}

.btn-group-1 .link-video:before {
    position: absolute;
    content: '';
    right: 0;
    top: 16px;
    width: 0;
    height: 0;
    border-width: 4px 0px 4px 8px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
}

.btn-group-2  {
    margin-top: 24px;
}

.btn-group-2 a {
    margin-right: 24px;
}

.btn-group-2 span  {
    font-size: 12px;
    color: #fff;
    vertical-align: middle;
}

.btn-group-2 img  {
    vertical-align: middle;
    margin-right: 5px;
}

.sec-intro .right-part {
    position: absolute;
    right: 0;
    bottom: -40px;
    z-index: 10;
}

.sec-product {
    width: 1080px;
    margin: 0 auto;
    margin-top: 32px;
}

.product-list {
    height: 220px;
}

.product-list li {
    float: left;
    height: 220px;
    margin-right: 26px;
    transition: all .2s ease;
}

.product-list li:hover {
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, .15);
}

.product-list li a {
    display: block;
    width: 340px;
    height: 100%;
    border-radius: 4px;
    border: 1px solid #ececec;
    background: url('../images/pro2-image@2x.jpg') no-repeat center;
    background-size: cover;
}

.product-list li:nth-child(1) a {
    background: url('../images/one-image@2x.jpg') no-repeat center;
    background-size: cover;
}

.product-list li:last-child {
    margin-right: 0;
}
/******************* 主体部分 end *********************/